[submodule "vim/pack/vpetkov/start/file-line"]
  path = vim/pack/vpetkov/start/file-line
	url = git@github.com:lervag/file-line.git
[submodule "vim/pack/vpetkov/start/commentary"]
  path = vim/pack/vpetkov/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/vpetkov/start/rails"]
  path = vim/pack/vpetkov/start/rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/pack/vpetkov/start/ctrlp"]
  path = vim/pack/vpetkov/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/vpetkov/start/vim-completes-me"]
	path = vim/pack/vpetkov/start/vim-completes-me
	url = git@github.com:ajh17/VimCompletesMe.git
