.CFUserTextEncoding
.DS_Store
.Trash/

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

d/
v/

.bash_history
.bash_sessions/
.bash_sessions_disable
.bundle/
.cache/
.config/
.cups/
.erlang.cookie
.fastlane/
.gem/
.irb_history
.lesshst
.mono/
.psql_history
.puma-dev/
.rbenv/
.ruby-version
.ssh/
.subversion/
.viminfo
.vim/.netrwhist
.w3m/
.yarnrc
.zoomus
.npm/
.vscode/
.local/
